.logUotButton {
    margin-top: 100px;
    cursor: pointer;
    border: 1px solid #bfb40e;
    border-radius: 8px;
    text-align: center;
    padding: 8px 20px;
    font-size: 0.9rem;
    color: #bfb40e;
    font-weight: 600;
    position: fixed;
    left: 20px;
    animation-name: logout_button;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes logout_button {
    from {
      background: linear-gradient(white, black);
      color: black;
    }
  
    to {
      background: linear-gradient(black, white, black);
      color: black;
    }
  }
  .logUotButton:hover {
    box-shadow: 5px 5px 10px #bfb40e;
    transition: all 1s;
    border: none;
  }
  .homeBackground {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.896);
  }